@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hylia Serif";
  src: url("../public/fonts/HyliaSerifBeta-Regular.woff");
}

body {
  font-family: "Roboto", san-serif;
  font-weight: 400;
  font-style: italic;
}

html {
  background-image: url(../public/img/background.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  background-attachment: fixed;
}

/* still need to make background fully responsive */

/* @media (min-width: 1250px) {
  html {
    background-image: url(../public/img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0;
    background-attachment: fixed;
  }
} */

#suggestion {
  position: absolute;
  z-index: 1;
  width: 200px;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: rgba(197, 254, 244, 0.8);
  color: rgb(48, 102, 112);
  list-style: none;
  margin-top: 0;
}

form input {
  border: none;
  height: 43px;
  border-radius: 2px;
  background-color: rgb(254, 252, 231);
  height: 30px;
  padding-left: 5px;
  width: 200px;
  color: rgb(48, 102, 112);
}

#suggestion li:hover {
  background: #e7e4d6;
}

.hidden {
  display: none;
}
