/* Mobile-first design */
/******************************************
/* CSS
/*******************************************/

@font-face {
  font-family: 'Hylia Serif Beta';
  src: url('HyliaSerifBeta-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BOTW Hylian';
  src: url('BOTW-Hylian.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  background-image: url(/img/background.jpg);
  background-repeat: no-repeat;
  background-size: auto 100vh;
  background-position: -800px 0;
  background-attachment:fixed;
}

body {
  color:rgb(250, 248, 236);
  margin:auto;
  width:95%;
  font-size:2em;
  font-family:'Roboto', san-serif;
  text-shadow:1px 1px 10px  rgb(37, 145, 184), 1px 1px 10px  rgb(37, 145, 184);
}



/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

main {
  min-height:50vh;
  margin-top:5vh;
  height:fit-content;
  padding-bottom:20px;
  margin-bottom:30px;
}

h1 {
  height:20vh;
  padding:100px;
}

div.searchBar {
  height:20vh;
  display:flex;
  align-items:center;
  justify-content:flex-start;
  flex-direction:column;
}

#article {
  margin:0 70px ;
  font-size:1.2em;
}

.photo {
  width:400px;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

main {  
    background:rgba(45, 45, 68, 0.854);
    border-radius:40px;
}

h1 {
  text-align:center;
  font-family: 'Hylia Serif Beta';
  font-weight:normal;
  font-size:4em;
  color:rgb(249, 244, 205);
  text-shadow: rgba(255, 255, 255, 0.427) 1px 0 10px;
}

.photo{
  border:2px solid white;
  padding: 10px;
  border-radius:2px;
}


input[type=search] {
  border:none;
  height:30px;
  border-radius: 20px;
  background-color: rgb(254, 252, 231);
  height:80px;
  width:600px;
  font-size:1.5em;
}

button {
  background-color:rgba(255, 255, 255, 0.026);
  border-radius: 10px;
  border: 0;
  width:200px;
  font-size:2.5em;
  margin:10px;
  color: white;
  text-shadow:1px 1px 10px  rgb(37, 145, 184), 1px 1px 10px  rgb(37, 145, 184);
  padding: 10px 10px;
  padding-top:20px;
}




/*blue rgb(151, 199, 217)
dark blue rgb(48, 102, 112)
cream rgb(249, 244, 205)
green rgb(159, 192, 132)
brown rgb(108, 95, 50)

search bar

rgb(115, 233, 251)